.btn-link {
    background-color: #333;
  display: flex;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: all 0.2s ease-in-out;

     
}